<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
  <title>Ideation</title>
</head>

<body>
    <div id="app" @keydown.esc="closeForm">
        <div class="header" onload="clearTemp()">
          <h1>Ideation</h1>
            <p v-if="user">Welcome {{user.username}}<br><a href="#" @click="logout">Logout</a></p>
            <p v-else><a href="#" @click="toggleForm">Register or Login</a></p>
        </div>
        <div class = "navbar">
          <div class = "navItem"><a class = "nav-link" href="index.html">Home</a></div>
          <div class = "navItem" v-if = "user != null" ><a class = "nav-link" href="profile.html">Profile</a></div>
          <div class = "navItem" v-if = "user != null" id = "active"><a class = "nav-link" href="newIdea.html">Share an Idea</a></div>
          <div class = "navItem" v-if = "user != null && user.username == 'admin'"><a class = "nav-link" href="admin.html">Manage users</a></div>
        </div>
    
        <div class="content">
          <!--@submit.prevent="addIdea"-->
            <form @submit.prevent>
                <input v-model="addedTitle" placeholder="Title"></p>
                <textarea v-model="addedAbout"></textarea>
                <br/>
                <input v-model="addedSkill" placeholder="Skill Name">
                <button class = "add-skill-btn" @click="addNeededSkill()">+</button>
                <br/>
                <p id="empty-idea-error" class = "error-message"></p>
                <div id = "idea-skills-box">
                  <div v-for="skill in neededSkills" class = "skill-tab">
                    {{skill}} 
                    <button class = "delete-skill-btn" @click= "deleteNeededSkill(skill)" style="background-color: #33ccff">x</button>
                    
                  </div>
                </div>
                <br/>
                <button type="submit" @click="addIdea">Submit</button>
            </form>
            
          <div v-for="idea in tempIdeaList">
            <hr>
            <div class="idea-card">
              <div class="about">
                <p><b>{{idea.title}}</b></p>
                <p>{{idea.about}}</p>
                <p><i>-- {{idea.author}}</i></p>
                <div id = "idea-skills-box">
                  <div v-for="skill in idea.skills" class = "skill-tab">
                    {{skill}} 
                  </div>
                </div>
              </div>
              <div class="delete">
                <button @click="deleteIdea(idea)" class="delete">Delete</button>
                <!--<p v-else><a href="#" @click="toggleForm">Register or Login</a></p>-->
              </div>
            </div>
          </div>
        </div>

            
            

        
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
</body>

</html>